*
.
..
*~
*/
*.o
var
._*
*.d
var/
env*
.env
*.mo
env/
eggs
$tf/
.vs/
app/
obj/
/tmp
.tox
*.so
.tmp
lib/
dist
bld/
csx/
_i.c
out/
_obj
.git
core
*.aps
.venv
.tox/
*.cab
dist/
logs/
env/*
venv/
/site
*.pyo
/.git
/bin/
.nox/
*.cer
eggs/
*.log
*.lnk
*.ilk
*.iml
/cmd/
*.eml
*.bak
*.ldf
*.egg
parts
ipch/
*.mdf
*.iws
sdist
*.suo
*.ncb
*.pyc
*.obj
.idea
*.opt
*.pdb
*.pch
*.sln
*.pgc
*_p.c
*.pfx
*_i.h
*.plg
*.pgd
*.pot
*.out
*.swp
*.vsp
build
*_i.c
*.rej
_test
*.tgz
*.tlb
*.rsp
*.sbr
*.tli
*.tmp
*.scc
*.tlh
*.sdf
*.lock
_cgo_*
.idea/
cache/
.eggs/
*.mm.*
.nfs.*
*.meta
[Bb]in
lib64/
*.orig
parts/
build/
.cache
sdist/
*.user
.Trash
#*.pdb
/pkg//
*.vspx
bin64/
.pyre/
*.pidb
venv/*
.*.swp
/_site
*.VC.db
*.nupkg
wheels/
.apdisk
*.dbmdl
*,cover
*.psess
*.cover
my-app*
target/
*.cache
.vscode
.Python
assets/
.cache/
[Oo]bj/
.scrapy
/vendor
.github
[Bb]in/
.builds
env.bak/
*.svclog
*.vssscc
.Trashes
JSON.map
*.pubxml
*.py[co]
Backup*/
*.vspscc
.AppleDB
#[Bb]in/
*.opendb
.idea/**
.vscode/
/.github
publish/
htmlcov/
MANIFEST
*.cgo*.c
/.bundle
/vendor/
.DS_Store
.JustCode
.coverage
*.gpState
[Dd]ebug/
venv.bak/
*.py[cod]
instance/
.flaskenv
*.cgo*.go
*.opensdf
Thumbs.db
/test.out
/src/*.*/
dlldata.c
*.sage.py
*.dotCover
*.rdl.data
artifacts/
_TeamCity*
*.manifest
*.egg-info
*.DS_Store
dmypy.json
[Dd]ebug*/
downloads/
ClientBin/
xcuserdata
*$py.class
/build.out
.DS_Store?
*.tmp_proj
_NCrunch_*
.fseventsd
_Chutzpah*
*.VC.opendb
.dmypy.json
.spyproject
.coverage.*
*.egg-info/
*.userprefs
/.changelog
*.[Cc]achee
*.a[56789o]
*.[56789ao]
*.stackdump
[Ee]xpress/
[Rr]elease/
ehthumbs.db
i18n/*.json
order_*.pdf
[Dd]ebugPS/
*.cachefile
.sass-cache
.LSOverride
Desktop.ini
staticfiles
develop-eggs
coverage.xml
config/*.yml
!*.[Cc]ache/
.AppleDouble
AppPackages/
/last-change
.sass-cache/
/.sass-cache
.nyc_output/
report*.html
.ropeproject
[56789a].out
folder-*.ico
__pycache__/
.hypothesis/
[Rr]eleases/
.mypy_cache/
_testmain.go
_mailinglist
[Rr]elease*/
*.bim.layout
Gemfile.lock
ftp/legal.md
_ReSharper*/
docs/_build/
node_modules
*.publishproj
node_modules/
develop-eggs/
composer.phar
[Rr]eleasePS/
.ruby-version
/test/run.out
**/packages/*
npm-debug.log
*.build.csdef
nosetests.xml
*.azurePubxml
$RECYCLE.BIN/
AutoTest.Net/
.AppleDesktop
[Dd]esktop.ini
.installed.cfg
/VERSION.cache
.brackets.json
.spyderproject
/test/pass.out
*.userosscache
.pytest_cache/
/goinstall.log
lerna-debug.log
!config/ctf.yml
/test/times.out
TestResult*.xml
Temporary Items
!config/7ms.yml
.TemporaryItems
.Spotlight-V100
UpgradeLog*.XML
*.sln.docstates
[Dd]ebugPublic/
Generated_Code/
UpgradeLog*.htm
.python-version
.VolumeIcon.icns
[Bb]uild[Ll]og.*
profile_default/
.jekyll-metadata
_Pvt_Extensions/
*.bim_*.settings
[Ss]tyle[Cc]op.*
*.[Pp]ublish.xml
FakesAssemblies/
.webassets-cache
!config/addo.yml
scintilla/.hgeol
juiceshop.sqlite
!config/test.yml
ModelManifest.xml
*.[Rr]e[Ss]harper
*.publishsettings
local_settings.py
vagrant/.vagrant/
!frontend/src/app
project.lock.json
ehthumbs_vista.db
getting-started/*
!config/fbctf.yml
*.specpip-log.txt
scintilla/.hgtags
!config/quiet.yml
ipython_config.py
*.VisualState.xml
package-lock.json
.mr.developer.cfg
orleans.codegen.cs
.tmp.drivedownload
*.DotSettings.user
PowerEditor/bin64/
!config/unsafe.yml
/src/cmd/dist/dist
.ntvs_analysis.dat
.ipynb_checkpoints
[Tt]est[Rr]esult*/
*.dbproj.schemaview
.*crunch*.local.xml
!config/mozilla.yml
GeneratedArtifacts/
!config/default.yml
!config/bodgeit.yml
@@ -1,162 +1,434 @@
scintilla/.hgignore
pip-wheel-metadata/
!**/packages/build/
celerybeat-schedule
/test/garbage/*.out
/src/go/doc/headscan
Network Trash Folder
!config/juicebox.yml
DocProject/Help/html
share/python-wheels/
DocProject/buildhelp/
scintilla/win32/*.lib
DocProject/Help/*.hhk
DocProject/Help/*.hhc
/misc/cgo/testso/main
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
/src/go/build/zcgo.go
!frontend/src/assets/
DocProject/Help/Html2
_UpgradeReport_Files/
test/e2e/screenshots/
Thumbs.db:encryptable
/misc/cgo/life/run.out
uploads/complaints/*.*
/src/unicode/maketables
.DocumentRevisions-V100
PowerEditor/bin/backup/
/misc/cgo/stdio/run.out
/doc/articles/wiki/*.bin
!data/static/i18n/*.json
PowerEditor/bin/plugins/
scintilla/boostregex/bin
PowerEditor/bin/updater/
scintilla/win32/Lexers.a
scintilla/bin/SciLexer.*
assets/vendor/qtip2/basic
scintilla/bin/Scintilla.*
scintilla/bin/__init__.py
PowerEditor/bin/langs.xml
/src/cmd/cgo/zdefaultcc.go
PowerEditor/bin/config.xml
scintilla/.hg_archival.txt
PowerEditor/bin/stylers.xml
scintilla/cppcheck.suppress
assets/vendor/clipboard/src
PowerEditor/bin/session.xml
PowerEditor/installer/build/
PowerEditor/bin/SciLexer.dll
assets/vendor/clipboard/test
scintilla/win32/ScintRes.res
PowerEditor/bin/shortcuts.xml
pip-delete-this-directory.txt
PowerEditor/bin/localization/
PowerEditor/bin/notepad++.exe
/PowerEditor/gcc/resources.res
/PowerEditor/bin/NotepadPP.exe
PowerEditor/bin/nativeLang.xml
PowerEditor/bin/NppShell_06.dll
PowerEditor/bin/langs.model.xml
assets/vendor/selectivizr/tests
PowerEditor/bin/contextMenu.xml
PowerEditor/bin/config.model.xml
/PowerEditor/bin/libstdc++-6.dll
PowerEditor/bin/functionList.xml
!**/packages/repositories.config
!frontend/src/assets/i18n/*.json
PowerEditor/installer/minimalist/
PowerEditor/bin/NppShell64_06.dll
PowerEditor/installer/bin/wingup/
PowerEditor/bin/stylers.model.xml
scintilla/boostregex/boostpath.mak
.com.apple.timemachine.donotpresent
PowerEditor/installer/minimalist64/
/src/cmd/go/internal/cfg/zosarch.go
/PowerEditor/bin/libwinpthread-1.dll
PowerEditor/bin/SourceCodePro-It.ttf
/PowerEditor/bin/libgcc_s_sjlj-1.dll
template/src/__tests__/__snapshots__/
/src/runtime/internal/sys/zversion.go
PowerEditor/visual.net/Unicode Debug/
/src/cmd/internal/objabi/zbootstrap.go
PowerEditor/bin/SourceCodePro-Bold.ttf
PowerEditor/visual.net/notepadPlus.sln
/src/cmd/go/internal/cfg/zdefaultcc.go
PowerEditor/visual.net/Unicode Release/
PowerEditor/bin/SourceCodePro-BoldIt.ttf
PowerEditor/visual.net/x64/Unicode Debug/
PowerEditor/bin/SourceCodePro-Regular.ttf
PowerEditor/visual.net/x64/Unicode Release/
PowerEditor/installer/zipped.package.release/
PowerEditor/installer/zipped.package.release64/
