.
*
*/
*~
..
._*
*.d
*.o
var
dist
bld/
lib/
*.so
.tmp
csx/
.git
core
_obj
_i.c
out/
.tox
*.mo
env/
.env
var/
env*
eggs
obj/
/tmp
app/
$tf/
.vs/
*_i.h
*.pfx
*_p.c
*.plg
*.out
*.pot
*.pgd
*.pgc
.idea
*.obj
*.pyc
*.opt
*.sln
*.pch
*.pdb
*.tli
*.sbr
*.rsp
*.tmp
*.sdf
*.tlh
*.scc
*.tlb
build
*.vsp
*.swp
*_i.c
*.tgz
_test
*.rej
*.ncb
/.git
*.pyo
/site
/bin/
eggs/
*.cer
.nox/
venv/
.tox/
.venv
*.aps
*.cab
env/*
logs/
dist/
ipch/
parts
*.egg
*.mdf
*.suo
sdist
*.iws
*.ldf
*.ilk
*.lnk
*.log
*.iml
*.bak
*.eml
/cmd/
.Trash
/pkg//
*.vspx
.cache
sdist/
*.user
venv/*
.*.swp
/_site
bin64/
.pyre/
*.pidb
build/
cache/
.eggs/
*.mm.*
*.lock
_cgo_*
.idea/
lib64/
*.orig
parts/
.nfs.*
*.meta
[Bb]in
.cache/
[Oo]bj/
assets/
.vscode
.Python
[Bb]in/
.builds
.scrapy
/vendor
*.cache
.apdisk
*.dbmdl
wheels/
*.VC.db
*.nupkg
my-app*
target/
*.cover
*,cover
*.psess
publish/
.vscode/
*.opendb
.idea/**
/.bundle
/vendor/
*.cgo*.c
htmlcov/
MANIFEST
.Trashes
JSON.map
*.vssscc
env.bak/
*.svclog
*.vspscc
.AppleDB
Backup*/
*.pubxml
*.py[co]
*.opensdf
Thumbs.db
.flaskenv
*.cgo*.go
dlldata.c
*.sage.py
/test.out
/src/*.*/
.coverage
*.gpState
.DS_Store
.JustCode
*.py[cod]
instance/
[Dd]ebug/
venv.bak/
*$py.class
/build.out
ClientBin/
xcuserdata
.DS_Store?
.fseventsd
_Chutzpah*
*.tmp_proj
_NCrunch_*
downloads/
artifacts/
_TeamCity*
*.dotCover
*.rdl.data
*.manifest
dmypy.json
[Dd]ebug*/
*.egg-info
*.DS_Store
i18n/*.json
order_*.pdf
ehthumbs.db
[Ee]xpress/
desktop.ini
[Rr]elease/
[Dd]ebugPS/
Desktop.ini
staticfiles
.LSOverride
*.cachefile
.sass-cache
.coverage.*
*.egg-info/
.spyproject
*.VC.opendb
.dmypy.json
*.userprefs
*.[56789ao]
*.stackdump
*.a[56789o]
/.changelog
*.[Cc]achee
.mypy_cache/
_testmain.go
_mailinglist
__pycache__/
.hypothesis/
[Rr]eleases/
[Rr]elease*/
_ReSharper*/
docs/_build/
node_modules
*.bim.layout
Gemfile.lock
ftp/legal.md
folder-*.ico
!*.[Cc]ache/
.AppleDouble
AppPackages/
develop-eggs
coverage.xml
config/*.yml
/last-change
report*.html
.ropeproject
[56789a].out
.sass-cache/
/.sass-cache
.nyc_output/
nosetests.xml
*.build.csdef
npm-debug.log
*.azurePubxml
.AppleDesktop
AutoTest.Net/
$RECYCLE.BIN/
**/packages/*
develop-eggs/
node_modules/
*.publishproj
composer.phar
/test/run.out
.ruby-version
[Rr]eleasePS/
*.userosscache
/test/pass.out
/goinstall.log
.pytest_cache/
.spyderproject
.installed.cfg
[Dd]esktop.ini
.brackets.json
/VERSION.cache
*.sln.docstates
UpgradeLog*.XML
.Spotlight-V100
[Dd]ebugPublic/
.python-version
UpgradeLog*.htm
Generated_Code/
/test/times.out
!config/ctf.yml
lerna-debug.log
TestResult*.xml
.TemporaryItems
!config/7ms.yml
Temporary Items
.webassets-cache
FakesAssemblies/
*.[Pp]ublish.xml
!config/addo.yml
!config/test.yml
juiceshop.sqlite
scintilla/.hgeol
profile_default/
[Bb]uild[Ll]og.*
.VolumeIcon.icns
.jekyll-metadata
[Ss]tyle[Cc]op.*
*.bim_*.settings
_Pvt_Extensions/
scintilla/.hgtags
!config/quiet.yml
!config/fbctf.yml
*.specpip-log.txt
package-lock.json
.mr.developer.cfg
ipython_config.py
*.VisualState.xml
getting-started/*
*.publishsettings
local_settings.py
ModelManifest.xml
*.[Rr]e[Ss]harper
project.lock.json
ehthumbs_vista.db
vagrant/.vagrant/
!frontend/src/app
.ntvs_analysis.dat
/src/cmd/dist/dist
[Tt]est[Rr]esult*/
.ipynb_checkpoints
!config/unsafe.yml
.tmp.drivedownload
orleans.codegen.cs
PowerEditor/bin64/
*.DotSettings.user
pip-wheel-metadata/
scintilla/.hgignore
/test/garbage/*.out
celerybeat-schedule
!**/packages/build/
!config/mozilla.yml
.*crunch*.local.xml
*.dbproj.schemaview
!config/bodgeit.yml
!config/default.yml
GeneratedArtifacts/
DocProject/Help/html
share/python-wheels/
!config/juicebox.yml
/src/go/doc/headscan
Network Trash Folder
!frontend/src/assets/
/src/go/build/zcgo.go
DocProject/Help/*.HxT
DocProject/Help/Html2
Thumbs.db:encryptable
test/e2e/screenshots/
_UpgradeReport_Files/
DocProject/Help/*.hhk
scintilla/win32/*.lib
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.HxC
DocProject/Help/*.hhp
/misc/cgo/testso/main
uploads/complaints/*.*
/misc/cgo/life/run.out
PowerEditor/bin/backup/
/misc/cgo/stdio/run.out
/src/unicode/maketables
.DocumentRevisions-V100
PowerEditor/bin/updater/
scintilla/win32/Lexers.a
scintilla/bin/SciLexer.*
scintilla/boostregex/bin
/doc/articles/wiki/*.bin
!data/static/i18n/*.json
PowerEditor/bin/plugins/
scintilla/bin/__init__.py
PowerEditor/bin/langs.xml
assets/vendor/qtip2/basic
scintilla/bin/Scintilla.*
scintilla/.hg_archival.txt
PowerEditor/bin/config.xml
/src/cmd/cgo/zdefaultcc.go
assets/vendor/clipboard/src
PowerEditor/bin/session.xml
PowerEditor/bin/stylers.xml
scintilla/cppcheck.suppress
assets/vendor/clipboard/test
scintilla/win32/ScintRes.res
PowerEditor/installer/build/
PowerEditor/bin/SciLexer.dll
PowerEditor/bin/localization/
PowerEditor/bin/notepad++.exe
PowerEditor/bin/shortcuts.xml
pip-delete-this-directory.txt
PowerEditor/bin/nativeLang.xml
/PowerEditor/bin/NotepadPP.exe
/PowerEditor/gcc/resources.res
assets/vendor/selectivizr/tests
PowerEditor/bin/contextMenu.xml
PowerEditor/bin/NppShell_06.dll
PowerEditor/bin/langs.model.xml
!**/packages/repositories.config
!frontend/src/assets/i18n/*.json
PowerEditor/bin/functionList.xml
PowerEditor/bin/config.model.xml
/PowerEditor/bin/libstdc++-6.dll
PowerEditor/installer/bin/wingup/
PowerEditor/bin/stylers.model.xml
PowerEditor/installer/minimalist/
PowerEditor/bin/NppShell64_06.dll
scintilla/boostregex/boostpath.mak
/src/cmd/go/internal/cfg/zosarch.go
PowerEditor/installer/minimalist64/
.com.apple.timemachine.donotpresent
/PowerEditor/bin/libgcc_s_sjlj-1.dll
PowerEditor/bin/SourceCodePro-It.ttf
/PowerEditor/bin/libwinpthread-1.dll
PowerEditor/visual.net/Unicode Debug/
/src/runtime/internal/sys/zversion.go
template/src/__tests__/__snapshots__/
PowerEditor/visual.net/notepadPlus.sln
/src/cmd/go/internal/cfg/zdefaultcc.go
/src/cmd/internal/objabi/zbootstrap.go
PowerEditor/bin/SourceCodePro-Bold.ttf
PowerEditor/visual.net/Unicode Release/
PowerEditor/bin/SourceCodePro-BoldIt.ttf
PowerEditor/bin/SourceCodePro-Regular.ttf
PowerEditor/visual.net/x64/Unicode Debug/
PowerEditor/visual.net/x64/Unicode Release/
PowerEditor/installer/zipped.package.release/
PowerEditor/installer/zipped.package.release64/
