body {
    background-color: #ffffff;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

body.fell-english {
    font-family: 'IM Fell English SC', serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
}

button {
    color: #000000;
    padding: 5px 10px 5px 10px;
    height: 30px;
}

.header {
    background-color: rgb(0, 255, 229);
}

input {
    color: #000000;
}

div.text-background {
    background-color: #1f1f1f;
    max-width: 100%;
    position: relative;
}

.button-div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

img {
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

footer {
    padding-top: 50px;
}