html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin: 0 auto;

}

nav {
  background-color: brown;
  display:flex;
  width: 100%;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
}

nav h1 {
  font-size: 3.5rem;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  font-size: 2.5rem;
  padding: 1rem;
  display: flex;

}
