{% extends "base.html" %}
{% block content %}
    <p>Welcome to Teenage Party Escape</p>
    <img src="https://media.giphy.com/media/OEWT7a9RWDgju/giphy.gif" />
    <p>You are 16 and been invited to a late night party with friends. You will have to sneak out of the house without your parents knowing.</p>
    <p>Your options are provided as buttons below. Select your choice to Party.</p>
    <div class="button-div">
      <button onclick="window.location='/basement'">Now let's start!</button>
    </div>
{% endblock %}
