{% extends "base.html" %}
{% block content %}
<div class="row">
  <img src="https://media.giphy.com/media/jqwzrkNNFpCnJzm9CJ/giphy.gif"/>
    <p>You see the girl you really like in the corner by herself.</p> 
  <p>This is the perfect time to go up and talk to her before anybody else does.</p>
  <div class="button-div">
    <button onclick="window.location='/phone_number.html'" type="button">Talk to her</button>
    <button onclick="window.location='/party_over.html'" type="button">Do nothing</button>
  </div>
</div>

{% endblock %}