{% extends "base.html" %}
{% block content %}
<div>
      <img src="https://media.giphy.com/media/paQExtAZGWUOuz5jg3/giphy.gif" />
      <p>Every couple minutes you slide your window open further quietly</p>
      <p>You still need to open the garage side door to get back in later.</p>
    <div class="button-div">
      <button type="button" onclick="window.location='/garage'">Continue...</button>
    </div>
</div>
<!-- <form method="post">
  <input type="text" placeholder="Say something..."name="response">
  <input type="submit" value="Submit">
</form> -->

{% endblock %}
